---
import iconProjects from "../../assets/icon-projects.svg";
import portfolioImage from "../../assets/project-portfolio.png";
import astroIcon from "../../assets/tech/astrojs.svg";
import cssIcon from "../../assets/tech/css.svg";
import htmlIcon from "../../assets/tech/html.svg";
import SectionTitle from "../SectionTitle.astro";
import ProjectItem from "./ProjectItem.astro";
---

<section id="projects" class="projects container" aria-labelledby="projects-title">
    <SectionTitle id="projects-title" iconSrc={iconProjects.src} iconAlt="Proyectos" title="Proyectos" />

    <ul class="projects__list">
        <li>
            <ProjectItem
            imageSrc={portfolioImage.src}
            imageAlt="Captura del proyecto portafolio"
            title="Portafolio"
            description="Sitio personal con experiencia laboral, proyectos y bio. Hecho con Astro, diseño minimalista y tema claro/oscuro Sitio personal con experiencia laboral, proyectos y bio. Hecho con Astro, diseño minimalista y tema claro/oscuro."
            tags={[
                { iconSrc: astroIcon.src, label: "Astro" },
                { iconSrc: htmlIcon.src, label: "HTML" },
                { iconSrc: cssIcon.src, label: "CSS" },
            ]}
            githubHref="https://github.com/felipelopez-95/portfolio-blog"
        />
        </li>
    </ul>
</section>

<style>
    .projects__list {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }
</style>
