@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    /* Fondos */
    --bg-primary: #0a0a0a;
    --bg-secondary: #1a1a1a;
    --bg-elevated: #252525;

    /* Acentos */
    --accent-primary: #00d9ff;
    --accent-secondary: #10b981;
    --accent-tertiary: #f59e0b;

    /* Textos */
    --text-primary: #e5e5e5;
    --text-secondary: #a1a1a1;
    --text-disabled: #6b7280;

    /* Tipografía */
    --font-family: 'Work Sans', sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Tamaños de fuente */
    --text-xs: 0.75rem;
    /* 12px */
    --text-sm: 0.875rem;
    /* 14px */
    --text-base: 1rem;
    /* 16px */
    --text-lg: 1.125rem;
    /* 18px */
    --text-xl: 1.25rem;
    /* 20px */
    --text-2xl: 1.5rem;
    /* 24px */
    --text-3xl: 1.875rem;
    /* 30px */
    --text-4xl: 2.25rem;
    /* 36px */
    --text-5xl: 3rem;
    /* 48px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--text-primary);
    background-color: var(--bg-primary);
    line-height: 1.5;
}

p {
    font-size: var(--text-base);
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

ul {
    list-style: none;
}

.container {
    max-width: 80ch;
    margin: 3rem auto;
    padding: 2rem 1rem;
}

@media (min-width: 768px) {
    .container {
        margin: 4rem auto;

    }

    p {
        font-size: var(--text-lg);
    }
}