---
import Menu from "./Menu.astro";
import Nav from "./Nav.astro";
import Social from "./Social.astro";
---

<header class="header">
    <div class="button-menu">
        <Menu />
    </div>
    <div class="nav-menu">
        <Nav />
    </div>
    <Social />
</header>

<style>
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        max-height: 56px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .button-menu {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.show {
        display: block;
        position: absolute;
        top: 56px;
        left: 0;
        width: 100%;
        background-color: var(--bg-primary);
        padding: 1rem;
    }

    @media (min-width: 768px) {
        .button-menu {
            display: none;
        }

        .nav-menu {
            display: block;
        }

        .nav-menu.show {
            position: static;
            width: auto;
            padding: 0;
            display: block;
            background-color: transparent;
        }
    }
</style>

<script>
    const menu = document.querySelector("#menu");
    const nav = document.querySelector(".nav-menu");

    menu?.addEventListener("click", () => {
        nav?.classList.toggle("show");
        menu?.classList.toggle("is-active");
    });
</script>
