---

---

<button id="menu" class="menu-button">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
</button>

<style>
    .menu-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 0;
        background: transparent;
        gap: 5px;
        cursor: pointer;
    }

    .menu-line {
        background: var(--text-primary);
        width: 24px;
        height: 3px;
        border-radius: 4px;
        transition: all 0.3s ease;
        transform-origin: center;
    }

    .menu-button.is-active .menu-line:first-child {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-button.is-active .menu-line:nth-child(2) {
        opacity: 0;
    }

    .menu-button.is-active .menu-line:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
</style>
