---
import githubIcon from "../../assets/social/github.svg";
import linkedinIcon from "../../assets/social/linkedin.svg";
import instagramIcon from "../../assets/social/instagram.svg";
---

<div>
    <a
        href="https://github.com/felipelopez-95"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span>
            <img src={githubIcon.src} alt="GitHub" width="26" height="26" />
        </span>
    </a>
    <a
        href="https://www.linkedin.com/in/felipelopez95/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span>
            <img src={linkedinIcon.src} alt="GitHub" width="26" height="26" />
        </span>
    </a>
    <a
        href="https://www.instagram.com/felipelopez_95/"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span>
            <img src={instagramIcon.src} alt="GitHub" width="26" height="26" />
        </span>
    </a>
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
    }
</style>
