---
import iconExp from "../assets/icon-experience.svg";
---

<section id="experience" class="experience container">
    <h2 class="title-section">
        <span>
            <img src={iconExp.src} alt="Bio" width="32" height="32" />
        </span>
        Experiencia laboral
    </h2>
</section>

<style>
    .title-section {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }

    .title-section span {
        display: flex;
        align-items: center;
    }
</style>
