---

---

<footer id="footer" class="footer container">
    <p>
        Portfolio desarrollado con <a
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferrer"
            class="a-link">Astro</a
        > y mucho 💙
    </p>
</footer>

<style>
    .footer {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer p {
        font-size: var(--text-sm);
        color: var(--text-disabled);
    }

    .a-link {
        color: var(--text-disabled);
        text-decoration: underline;
        font-weight: normal;
    }
</style>
