---

---

<section id="footer" class="footer container">
    <div class="footer-text">
        <p>
            Portfolio desarrollado con <a
                href="https://astro.build/"
                target="_blank"
                rel="noopener noreferrer"
                class="a-link">Astro</a
            > y mucho 💙
        </p>
    </div>
</section>

<style>
    .footer {
        margin-bottom: 1rem;
    }

    .footer-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-size: var(--text-sm);
        color: var(--text-disabled);
    }

    .a-link {
        color: var(--text-disabled);
        text-decoration: underline;
        font-weight: normal;
    }
</style>
